In [1]:
#import required libraries
import pandas as pd
import numpy as np

In [2]:
#make a dataframe from all the indicators data
indicators_df = pd.read_csv("indicators_clean.csv")
indicators_df.head()

,Country Code,"GNI per capita, Atlas method (current US$)","Labor force, female (% of total labor force)","Life expectancy at birth, total (years)",Population growth (annual %),"Population, total",Poverty headcount ratio at national poverty line (% of population),"Public spending on education, total (% of GDP)",Rural population (% of total population),"School enrollment, primary (% net)",Urban population (% of total population)
0,ABW,28330,..,76.152,0.459266,105846,..,..,56.589,..,43.411
1,AFG,510,21.741485654167413,64.486,2.384309,37171922,..,3.19979000091553,74.505,..,25.495
2,AGO,1900,49.60658575105186,60.782,3.276145,30809787,32.3,2.04470133781433,34.486000000000004,..,65.514
3,ALB,4860,42.720264348661246,78.458,-0.246732,2866376,23,..,39.681,94.52966,60.319
4,AND,..,..,..,0.014285,77008,..,3.2467200756073,11.938000000000002,..,88.062

In [9]:
#make a dataframe from the PM2.5 data (and clean it slightly)
pm25_df = pd.read_csv("../API code and csv file/PM25_data.csv")
pm25_df = pm25_df.drop('Unnamed: 0', axis=1)
pm25_df = pm25_df.rename(columns={'Country:': 'Country Code'}) #rename column to facilitate merging
pm25_df.head()

,Country Code,2010 Total:,2011 Total:,2012 Total:,2013 Total:,2014 Total:,2015 Total:,2016 Total:,2017 Total:,2018 Total:,2019 Total:
0,AFG,68.96605,66.94454,68.25744,72.18289,68.05715,67.20320,64.00314,61.77561,70.25405,62.48616
1,AGO,24.19840,24.67357,24.00830,24.53186,24.11941,25.03078,26.08120,25.44195,25.85236,27.16477
2,ALB,21.94870,22.99650,21.70175,19.77038,19.13142,18.98271,18.14981,19.00622,19.75808,16.27997
3,AND,11.42903,11.66004,10.79727,10.14877,9.34741,9.94171,9.06227,9.30733,9.21394,8.52423
4,ARE,43.70844,43.53498,43.93421,42.88311,41.33546,43.92792,42.88604,43.32676,43.09622,41.74950

In [10]:
final_data = indicators_df.merge(pm25_df, on = 'Country Code') #merge two dataframes

In [11]:
#rename columns for better comprehension
final_data = final_data.rename(columns={'City Average:': 'City Average PM2.5','Total Average:': 'Total Average PM2.5' })

In [12]:
final_data.head() #take a look

,Country Code,"GNI per capita, Atlas method (current US$)","Labor force, female (% of total labor force)","Life expectancy at birth, total (years)",Population growth (annual %),"Population, total",Poverty headcount ratio at national poverty line (% of population),"Public spending on education, total (% of GDP)",Rural population (% of total population),"School enrollment, primary (% net)",...,2010 Total:,2011 Total:,2012 Total:,2013 Total:,2014 Total:,2015 Total:,2016 Total:,2017 Total:,2018 Total:,2019 Total:
0,AFG,510,21.741485654167413,64.486,2.384309,37171922,..,3.19979000091553,74.505,..,...,68.96605,66.94454,68.25744,72.18289,68.05715,67.20320,64.00314,61.77561,70.25405,62.48616
1,AGO,1900,49.60658575105186,60.782,3.276145,30809787,32.3,2.04470133781433,34.486000000000004,..,...,24.19840,24.67357,24.00830,24.53186,24.11941,25.03078,26.08120,25.44195,25.85236,27.16477
2,ALB,4860,42.720264348661246,78.458,-0.246732,2866376,23,..,39.681,94.52966,...,21.94870,22.99650,21.70175,19.77038,19.13142,18.98271,18.14981,19.00622,19.75808,16.27997
3,AND,..,..,..,0.014285,77008,..,3.2467200756073,11.938000000000002,..,...,11.42903,11.66004,10.79727,10.14877,9.34741,9.94171,9.06227,9.30733,9.21394,8.52423
4,ARE,41470,16.933394884621272,77.814,1.503938,9630966,..,..,13.477999999999994,..,...,43.70844,43.53498,43.93421,42.88311,41.33546,43.92792,42.88604,43.32676,43.09622,41.74950

In [13]:
final_data.to_csv('final_dataframe.csv')