In [8]:
#import required libraries
import pandas as pd
import numpy as np

In [9]:
#make a dataframe from all the indicators data
indicators_df = pd.read_csv("indicators_clean.csv")
indicators_df.head()

,Country Code,"GNI per capita, Atlas method (current US$)","Labor force, female (% of total labor force)","Life expectancy at birth, total (years)",Population growth (annual %),"Population, total",Poverty headcount ratio at national poverty line (% of population),"Public spending on education, total (% of GDP)",Rural population (% of total population),"School enrollment, primary (% net)",Urban population (% of total population)
0,ABW,28330,..,76.152,0.459266,105846,..,..,56.589,..,43.411
1,AFG,510,21.741485654167413,64.486,2.384309,37171922,..,3.19979000091553,74.505,..,25.495
2,AGO,1900,49.60658575105186,60.782,3.276145,30809787,32.3,2.04470133781433,34.486000000000004,..,65.514
3,ALB,4860,42.720264348661246,78.458,-0.246732,2866376,23,..,39.681,94.52966,60.319
4,AND,..,..,..,0.014285,77008,..,3.2467200756073,11.938000000000002,..,88.062

In [10]:
#make a dataframe from the PM2.5 data (and clean it slightly)
pm25_df = pd.read_csv("../API code and csv file/PM25_data.csv")
del pm25_df['Unnamed: 0'] #remove unecessary column)
pm25_df = pm25_df.rename(columns={'Country:': 'Country Code'}) #rename column to facilitate merging
pm25_df.head()

  Country Code  City Average PM2.5:  Total Average PM2.5:
0          AFG             67.01302              90.17078
1          AGO             25.11026              29.80814
2          ALB             19.77255              20.10598
3          AND             16.73588              16.30273
4          ARE             36.94973              34.55090

In [11]:
final_data = indicators_df.merge(pm25_df, on = 'Country Code') #merge two dataframes

In [12]:
#rename columns for better comprehension
final_data = final_data.rename(columns={'City Average:': 'City Average PM2.5','Total Average:': 'Total Average PM2.5' })

In [13]:
final_data.head() #take a look

,Country Code,"GNI per capita, Atlas method (current US$)","Labor force, female (% of total labor force)","Life expectancy at birth, total (years)",Population growth (annual %),"Population, total",Poverty headcount ratio at national poverty line (% of population),"Public spending on education, total (% of GDP)",Rural population (% of total population),"School enrollment, primary (% net)",Urban population (% of total population),City Average PM2.5:,Total Average PM2.5:
0,AFG,510,21.741485654167413,64.486,2.384309,37171922,..,3.19979000091553,74.505,..,25.495,67.01302,90.17078
1,AGO,1900,49.60658575105186,60.782,3.276145,30809787,32.3,2.04470133781433,34.486000000000004,..,65.514,25.11026,29.80814
2,ALB,4860,42.720264348661246,78.458,-0.246732,2866376,23,..,39.681,94.52966,60.319,19.77255,20.10598
3,AND,..,..,..,0.014285,77008,..,3.2467200756073,11.938000000000002,..,88.062,16.73588,16.30273
4,ARE,41470,16.933394884621272,77.814,1.503938,9630966,..,..,13.477999999999994,..,86.522,36.94973,34.55090

In [14]:
final_data.to_csv('final_dataframe.csv')