In [36]:
#import required libraries
import pandas as pd
import numpy as np

In [56]:
gni_df = pd.read_csv("gni_data.csv")
#delete useless columns
gni_df.drop(['Country Name','Series Code', 'Series Name'], inplace=True, axis=1)
gni_df = gni_df.rename(columns={'2010 [YR2010]': 'GNI 2010','2011 [YR2011]': 'GNI 2011','2012 [YR2012]': 'GNI 2012','2013 [YR2013]': 'GNI 2013','2014 [YR2014]': 'GNI 2014','2015 [YR2015]': 'GNI 2015','2016 [YR2016]': 'GNI 2016','2017 [YR2017]': 'GNI 2017','2018 [YR2018]': 'GNI 2018','2019 [YR2019]': 'GNI 2019'}) 
gni_df = gni_df.dropna() #drop the NAN which show missing data as it creates a bug when doing pivot()
gni_df.head()

,Country Code,GNI 2010,GNI 2011,GNI 2012,GNI 2013,GNI 2014,GNI 2015,GNI 2016,GNI 2017,GNI 2018,GNI 2019
0,AFG,510,530,630,650,630,590,550,530,510,520
1,AFE,1449.38694982585,1586.63986097829,1698.80815719012,1731.83465927064,1712.65340895441,1595.75352120869,1475.97971641498,1459.51755385162,1464.99537466535,1506.73192051311
2,AFW,1575.91545569087,1605.75683572412,1774.06726894128,1931.83150163743,2094.40501122793,2005.30632501013,1782.17439426541,1611.49767282406,1611.87005089623,1669.28410605469
3,ALB,4360,4410,4360,4540,4540,4390,4320,4290,4860,5230
4,DZA,4470,4600,5200,5520,5490,4850,4370,3950,3980,4010

In [59]:
pop_growth_df = pd.read_csv("population_growth_data.csv")
#delete useless columns
pop_growth_df.drop(['Country Name','Series Code', 'Series Name'], inplace=True, axis=1)
pop_growth_df = pop_growth_df.rename(columns={'2010 [YR2010]': 'POP GROWTH 2010','2011 [YR2011]': 'POP GROWTH 2011','2012 [YR2012]': 'POP GROWTH 2012','2013 [YR2013]': 'POP GROWTH 2013','2014 [YR2014]': 'POP GROWTH 2014','2015 [YR2015]': 'POP GROWTH 2015','2016 [YR2016]': 'POP GROWTH 2016','2017 [YR2017]': 'POP GROWTH 2017','2018 [YR2018]': 'POP GROWTH 2018','2019 [YR2019]': 'POP GROWTH 2019'})
pop_growth_df = pop_growth_df.dropna() #drop the NAN which show missing data as it creates a bug when doing pivot()
pop_growth_df.head()

,Country Code,POP GROWTH 2010,POP GROWTH 2011,POP GROWTH 2012,POP GROWTH 2013,POP GROWTH 2014,POP GROWTH 2015,POP GROWTH 2016,POP GROWTH 2017,POP GROWTH 2018,POP GROWTH 2019
0,AFG,2.74661463795293,3.14310555651301,3.40760003260595,3.49459192739625,3.35560233082199,3.07705362914441,2.77803478841236,2.54783303994568,2.38430907940751,2.31307334941778
1,AFE,2.74740956025077,2.75661924889133,2.76342579830968,2.76149556849235,2.75040021306161,2.73259763999667,2.71221797789649,2.69090172827046,2.66561953897049,2.63666633689952
2,AFW,2.7873725353495,2.775170988939,2.76380250826622,2.75356415432408,2.74554220539586,2.73833156598,2.73033179083436,2.71932994204438,2.7041680375953,2.68415173928712
3,ALB,-0.49646196338738,-0.269017331764615,-0.165151040121679,-0.183211384606402,-0.207046999760594,-0.291205786840436,-0.159880412127734,-0.0919722937442495,-0.246732042281782,-0.426007367032238
4,DZA,1.80500474736452,1.88330858570333,1.95146367479529,2.00270360530766,2.03358715504452,2.0453720881528,2.05135237337878,2.04490931275225,2.00739866314238,1.93398334424168

In [61]:
two_indicators_df = gni_df.merge(pop_growth_df, on = 'Country Code') #merge two dataframes
two_indicators_df.head()

,Country Code,GNI 2010,GNI 2011,GNI 2012,GNI 2013,GNI 2014,GNI 2015,GNI 2016,GNI 2017,GNI 2018,...,POP GROWTH 2010,POP GROWTH 2011,POP GROWTH 2012,POP GROWTH 2013,POP GROWTH 2014,POP GROWTH 2015,POP GROWTH 2016,POP GROWTH 2017,POP GROWTH 2018,POP GROWTH 2019
0,AFG,510,530,630,650,630,590,550,530,510,...,2.74661463795293,3.14310555651301,3.40760003260595,3.49459192739625,3.35560233082199,3.07705362914441,2.77803478841236,2.54783303994568,2.38430907940751,2.31307334941778
1,AFE,1449.38694982585,1586.63986097829,1698.80815719012,1731.83465927064,1712.65340895441,1595.75352120869,1475.97971641498,1459.51755385162,1464.99537466535,...,2.74740956025077,2.75661924889133,2.76342579830968,2.76149556849235,2.75040021306161,2.73259763999667,2.71221797789649,2.69090172827046,2.66561953897049,2.63666633689952
2,AFW,1575.91545569087,1605.75683572412,1774.06726894128,1931.83150163743,2094.40501122793,2005.30632501013,1782.17439426541,1611.49767282406,1611.87005089623,...,2.7873725353495,2.775170988939,2.76380250826622,2.75356415432408,2.74554220539586,2.73833156598,2.73033179083436,2.71932994204438,2.7041680375953,2.68415173928712
3,ALB,4360,4410,4360,4540,4540,4390,4320,4290,4860,...,-0.49646196338738,-0.269017331764615,-0.165151040121679,-0.183211384606402,-0.207046999760594,-0.291205786840436,-0.159880412127734,-0.0919722937442495,-0.246732042281782,-0.426007367032238
4,DZA,4470,4600,5200,5520,5490,4850,4370,3950,3980,...,1.80500474736452,1.88330858570333,1.95146367479529,2.00270360530766,2.03358715504452,2.0453720881528,2.05135237337878,2.04490931275225,2.00739866314238,1.93398334424168

In [62]:
two_indicators_df.to_csv('two_indicators.csv')